.wall {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100dvh;
    width: 100vw;
    position: relative;
    text-transform: uppercase;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
    background-color: var(--dark1);
    background-image: url('../../assets/noise.gif');

    &__graphic {
        font-family: var(--clash-semibold);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;
        mix-blend-mode: exclusion;

        &--logo {
            max-width: 500px;
            pointer-events: none;
        }

        &--guy {
            width: 72px;
            margin-top: 2rem;
        }
    }

    &__instructions {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        gap: .5rem;
        margin: 2rem;
        text-align: center;

        &--hand {
            font-size: 30px;
            margin-top: -6px;
        }
    }
}

path {
    fill: transparent;
  }
  
text {
    fill: var(--white);
    font-size: 40px;
  }

// Smaller devices

@media (max-width: 1024px) {
    .wall {
        min-height: 95%;
        &__graphic {
            max-width: 310px;

            &--curvedtext {
                transform: scale(0.75);
            }
        }

    } 

}