.update-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-bottom: 4px dashed var(--dark1);
    width: 100%;
    padding: 1rem 0;

    p {
        font-size: var(--md-font2);
        max-width: 90%;
    }

    ul {
        list-style-type: disc;
    }
}


@media (max-width: 992px) { 
    .update-row {
      flex-wrap: wrap;

      &__txt {
        padding: 1rem;
      }
    }
}