@mixin round-button-flex($size) {
    width: $size;
    height: $size;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all .2s ease;
}

.nav-opening {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    color: var(--dark1);
}

.primary-menu {
    background-color: var(--yellow1);
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 32vw;
    z-index: 20;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2rem;
    text-align: right;

    &__close {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    &__links {
        font-size:var(--lg-font);

        &--item { 
            margin: 2rem 0;
            overflow-y: hidden;
            cursor: pointer;
            transition: all .3s ease-out;

            &:hover {
                transform: translateX(-20px);
            }
        }
    }

    &__share {
        position: relative;
        width: fit-content;

        >img {
            pointer-events: none;
            max-width: 320px;
            object-fit: contain;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }

        >div {
            display: flex;
            gap: 1rem;
            justify-content: end;
            margin-right: 4rem;
        }

        &--link {
            @include round-button-flex(36px);
            border: 2px solid var(--dark1);

            &:hover {
                background-color: var(--dark1);
                color: var(--white1);
            }
        }
    }

    &__socials {
        font-size: var(--xs-font);
        display: flex;
        gap: .5rem;
        align-items: center;
        width: 100%;
        justify-content: end;

        &--link {
            @include round-button-flex(26px);
            background-color: var(--dark1);
            color: var(--white1);

            &:hover {
                opacity: 0.75;
            }
        }
    }   
}

// Smaller devices

@media (max-width: 1024px) {
    .primary-menu {
        width: 100vw;
        align-items: center;
        text-align: center;
        padding: 2.5rem;

        &__close {
            align-self: self-end;
        }

        &__socials {
            justify-content: center;
        }

        &__share {
            margin-left: 6rem;

            > div {
                justify-content: center;
            }
        }
    } 
}