@font-face {
  font-family: 'ClashGrotesk-Regular';
  src: url(./assets/fonts/ClashGrotesk-Regular.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk-Semibold';
  src: url(./assets/fonts/ClashGrotesk-Semibold.ttf) format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

:root {
  --dark1: #242222;
  --yellow1: #FFEE57;
  --white1: #F6EFEF;
  --red1: #FF7557;
  --clash-regular: 'ClashGrotesk-Regular';
  --clash-semibold: 'ClashGrotesk-Semibold';
  --xs-font: 12px;
  --sm-font: 16px;
  --md-font: 24px;
  --md-font2: 20px;
  --lg-font: 32px;
  --xl-font: 48px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  height: -webkit-fill-avalable;
  height: -moz-available;
  height: stretch;
  width: 100vw;
  position: relative;
  font-family: var(--clash-regular);
  color: var(--white1);
  background-color: var(--dark1);
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100%;
  position: relative;
}

// Buttons
@mixin round-button {
  width: 52px;
  box-shadow: 5px 5px var(--dark1);
  margin: 2rem;
}

@mixin quirky-button($color) {
  border: 4px solid var(--dark1);
  background-color: $color;
  height: 52px;
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box
}

// Application 1 - menu button
.toggler {
  @include quirky-button(#FFEE57);
  @include round-button;
}

// Application 2 - feat buttons
.feat-button {
  @include quirky-button(#F6EFEF);
  @include round-button;

  &:hover {
    background-color: var(--yellow1);
    transform: scale(0.95)
  }
}


// Application 3 - modal button
.modal-button {
  @include quirky-button(#F6EFEF);
  font-family: var(--clash-semibold);
  text-transform: uppercase;
  letter-spacing: .1rem;
  gap: .5rem;
  padding: 0 1.5rem;
}


// Images in modals
.framed-img {
  border: 4px dashed var(--dark1);
  border-radius: 6px;
  margin: 1rem;
  padding: .5rem;
  height: 320px;
  max-width: 320px;
  object-fit: cover;
}

// Titles
h1 {
  font-family: var(--clash-semibold);
}

h2 {
  font-size: var(--lg-font);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .1rem;
  font-family: var(--clash-semibold);
}

h3 {
  font-size: var(--md-font);
  text-transform: uppercase;
}

// Reset styles
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #242222;
  font-family: var(--clash-semibold);
}

p {
  margin: 0;
}

// Smaller devices

@media (max-width: 577px) {
  h2 {
    font-size: var(--lg-font);
  }

  h3 {
    font-size: var(--md-font2);
  }
}

@media (max-width: 768px) { 
  .modal-button {
    padding: 0 .5rem;
  }
}

@media (max-width: 992px) { 
  .framed-img {
    width: auto;
    max-height: 50vh;
    object-fit: cover;
  }
}

